/* Empty. Add your own CSS if you like */
.custom-positive{
	background: #33CD5F; 
	color: white;
}

.custom-assertive{
	background: #EF473A; 
	color: white;
}

.custom-energized{
	background: #ffc900; 
	color: white;
}